/* ========================= */
/* MAP CONTAINER             */
/* ========================= */

#map-container {
    overflow: hidden;
    user-select: none;
    width: 675px;
    height: 674px;
    display: inline-block;
    border: 5px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

#map-inner {
    position: relative;
    width: 900px;
    height: 908px;
    transform: scale(0.75);
    transform-origin: top left;
    cursor: grab;
}

#map-inner.grabbing {
    cursor: grabbing;
}

.editor-mode #map-container {
    cursor: crosshair;
}

.editor-mode #map {
    outline: 2px dashed rgba(255,255,255,0.3);
    cursor: crosshair;
}

#map {
    width: 900px;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

/* ========================= */
/* MARKERS                   */
/* ========================= */

.marker {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.place-marker {
    width: 16px;
    height: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.collectible-marker {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #e67e22;
    border: 1px solid black;
}

/* couleurs types */
.poisson { background: #4fa8e8; }
.oiseau  { background: #f2c94c; }
.insecte { background: #6fcf52; }
.collectible { background: #e67e22; }

/* ========================= */
/* LABELS                    */
/* ========================= */

.place-label {
    font-size: var(--ui-font-size);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.65);
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: pre;
    display: inline-block;
    pointer-events: none;
}
